@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.first-name{
    font-weight:300;
    /* font-size:4rem */
}
// .first-name span{
//     font-weight:700
// }
img{
    max-width:200px
}
.bio{
    max-height:300px;
    overflow: scroll;
}
@media screen and (max-width:768px){
    #nav-bio-tab .card {
        max-width:200px
    }
}

